<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee" version="5.0">
    <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.icbt.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
</web-app>